body {
    background-color: #D66BA0;
}

:root{
    --bs-navbar-active-color: #af4d98;
}

/*Nav bar*/
.navbar {
    text-align: right;
    background-color: #67AAF9;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0 5px 5px #717171;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #AF4D98;
}

.nav-link:focus{
    color: #AF4D98;
}

.navbar-toggler{
    color: #AF4D98;
}

.container-fluid{
    width: 70%;
    justify-content: space-between;
}

.navbar-collapse {
    justify-content: flex-end;
    align-content: center;
}

/* Inicio Elements */

.container {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    align-content: center;
}

h2 {
    padding-top: 15px;
    text-align: center;
    color: #af4d98;
}

/* Slider */
.carousel{
    padding-top: 15px;
    padding-bottom: 15px;
}
.d-block {
    margin: auto;
}

.carousel-item {
    align-content: center;
}

.w-100 {
    width: 30%!important;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@700&display=swap');